@charset "utf-8";

@import "variables";



@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 900;
  src: url('#{$fa-font-path}/fa-brands-400.eot');
  src: url('#{$fa-font-path}/fa-brands-400.eot?#iefix') format('embedded-opentype'),
  url('#{$fa-font-path}/fa-brands-400.woff2') format('woff2'),
  url('#{$fa-font-path}/fa-brands-400.woff') format('woff'),
  url('#{$fa-font-path}/fa-brands-400.ttf') format('truetype'),
  url('#{$fa-font-path}/fa-brands-400.svg#fontawesome') format('svg');
}
@mixin fab($val) {
    display: inline-block;
    content: unquote("\"#{$val}\"");
    font-family: 'Font Awesome 5 Brands';
}



@font-face {
  font-family: 'Font Awesome 5 Light';
  font-style: normal;
  font-weight: 300;
  src: url('#{$fa-font-path}/fa-light-300.eot');
  src: url('#{$fa-font-path}/fa-light-300.eot?#iefix') format('embedded-opentype'),
  url('#{$fa-font-path}/fa-light-300.woff2') format('woff2'),
  url('#{$fa-font-path}/fa-light-300.woff') format('woff'),
  url('#{$fa-font-path}/fa-light-300.ttf') format('truetype'),
  url('#{$fa-font-path}/fa-light-300.svg#fontawesome') format('svg');
}
@mixin fal($val) {
    display: inline-block;
    content: unquote("\"#{$val}\"");
    font-family:'Font Awesome 5 Light';
}



@font-face {
  font-family: 'Font Awesome 5 Regular';
  font-style: normal;
  font-weight: 400;
  src: url('#{$fa-font-path}/fa-regular-400.eot');
  src: url('#{$fa-font-path}/fa-regular-400.eot?#iefix') format('embedded-opentype'),
  url('#{$fa-font-path}/fa-regular-400.woff2') format('woff2'),
  url('#{$fa-font-path}/fa-regular-400.woff') format('woff'),
  url('#{$fa-font-path}/fa-regular-400.ttf') format('truetype'),
  url('#{$fa-font-path}/fa-regular-400.svg#fontawesome') format('svg');
}
@mixin far($val) {
    display: inline-block;
    content: unquote("\"#{$val}\"");
    font-family: 'Font Awesome 5 Regular';
}



@font-face {
  font-family: 'Font Awesome 5 Solid';
  font-style: normal;
  font-weight: 900;
  src: url('#{$fa-font-path}/fa-solid-900.eot');
  src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
  url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
  url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
  url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
  url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
}
@mixin fa($val) {
    display: inline-block;
    content: unquote("\"#{$val}\"");
    font-family: 'Font Awesome 5 Solid';
}

