@charset "UTF-8";
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

a, address, article, aside, audio, b, big, blockquote, body, button, caption, center, cite, code, dd, details, div, dl, dt, em, fieldset, figcaption, figure, footer, form, form, h1, h2, h3, h4, h5, h6, header, i, iframe, img, input, label, li, main, mark, menu, nav, ol, p, pre, q, s, section, select, small, span, strong, summary, table, tbody, td, textarea, tfoot, th, thead, time, tr, u, ul, video {
    margin: 0;
    padding: 0;
    font-size: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

button,
input,
select {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    cursor: pointer;
}

[disabled] {
    cursor: default;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

body {
    font-family: "平成ゴシックW3", sans-serif;
}

[type="button"],
[type="reset"],
[type="submit"],
a,
a img,
button {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 900;
    src: url("../webfonts/fa-brands-400.eot");
    src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Light';
    font-style: normal;
    font-weight: 300;
    src: url("../webfonts/fa-light-300.eot");
    src: url("../webfonts/fa-light-300.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-light-300.woff2") format("woff2"), url("../webfonts/fa-light-300.woff") format("woff"), url("../webfonts/fa-light-300.ttf") format("truetype"), url("../webfonts/fa-light-300.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../webfonts/fa-regular-400.eot");
    src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Solid';
    font-style: normal;
    font-weight: 900;
    src: url("../webfonts/fa-solid-900.eot");
    src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

/*==================================================================================================
	サイト基礎
==================================================================================================*/
body {
    color: #000000;
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: 0.1em;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 420px) {
    body {
        font-size: 1.4rem;
    }
}

body a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #000000;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
    opacity: 0.8;
}

body .inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    body .inner {
        width: 100%;
        margin: 0 auto;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media screen and (min-width: 1201px) {
    body .inner {
        max-width: 1300px;
    }
}

@media screen and (max-width: 1340px) {
    body .inner {
        width: 100%;
        margin: 0 auto;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

/*==================================================================================================
	共通仕様
==================================================================================================*/
.-bgRed {
    background-color: #BB0A30;
}

.-bgBlack {
    background-color: #000000;
}

.-pdSection {
    padding: 9rem 0;
}

@media screen and (max-width: 840px) {
    .-pdSection {
        padding: 5rem 0;
    }
}

@media screen and (max-width: 560px) {
    .-pdSection {
        padding: 4rem 0;
    }
}

.-pdSSection {
    padding: 7rem 0;
}

@media screen and (max-width: 840px) {
    .-pdSSection {
        padding: 5rem 0;
    }
}

@media screen and (max-width: 560px) {
    .-pdSSection {
        padding: 4rem 0;
    }
}

@media screen and (min-width: 840px) {
    .tbText {
        display: none;
    }
}

@media screen and (min-width: 721px) {
    .mdText {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    .showPc {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .showMd {
        display: none;
    }
}

/*==================================================================================================
	フッター
==================================================================================================*/
.footerTop {
    color: #ffffff;
}

.footerTop.pdFooter {
    padding: 8rem 0 3rem;
}

@media screen and (max-width: 840px) {
    .footerTop.pdFooter {
        padding: 5rem 0 2rem;
    }
}

@media screen and (max-width: 560px) {
    .footerTop.pdFooter {
        padding: 4rem 0 1.5rem;
    }
}

.footerTop .footerBox__top {
    padding-bottom: 6rem;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 4rem;
}

@media screen and (max-width: 1200px) {
    .footerTop .footerBox__top {
        padding-bottom: 4rem;
    }
}

.footerTop .footerBox__top .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footerTop .footerBox__top .content__left {
    width: 50%;
}

@media screen and (max-width: 1020px) {
    .footerTop .footerBox__top .content__left {
        width: 100%;
    }
}

.footerTop .footerBox__top .content__left .content {
    max-width: 450px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 1020px) {
    .footerTop .footerBox__top .content__left .content {
        text-align: center;
        max-width: 100%;
        padding-bottom: 3rem;
    }
}

.footerTop .footerBox__top .content__left .content .subTitle {
    font-size: 2.4rem;
    padding-bottom: 1.5rem;
}

@media screen and (max-width: 1020px) {
    .footerTop .footerBox__top .content__left .content .subTitle {
        font-size: 2.2rem;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .footerTop .footerBox__top .content__left .content .subTitle {
        font-size: 1.4rem;
    }
}

.footerTop .footerBox__top .content__left .content .subTitle .sub {
    font-size: 1.8rem;
}

@media screen and (max-width: 840px) {
    .footerTop .footerBox__top .content__left .content .subTitle .sub {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 560px) {
    .footerTop .footerBox__top .content__left .content .subTitle .sub {
        font-size: 1.4rem;
    }
}

.footerTop .footerBox__top .content__left .content .subTitle span {
    font-family: "AudiType Extended Normal";
}

.footerTop .footerBox__top .content__left .content h2 {
    font-size: 8rem;
    font-weight: normal;
    line-height: 37px;
    padding-bottom: 1.5rem;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .footerTop .footerBox__top .content__left .content h2 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 560px) {
    .footerTop .footerBox__top .content__left .content h2 {
        font-size: 4rem;
        line-height: 27px;
        padding-bottom: 1rem;
    }
}

.footerTop .footerBox__top .content__left .content h2 span {
    font-family: "AudiType Extended Normal";
}

.footerTop .footerBox__top .content__left .content h3 {
    font-size: 2.8rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 1020px) {
    .footerTop .footerBox__top .content__left .content h3 {
        font-size: 2.4rem;
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .footerTop .footerBox__top .content__left .content h3 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 420px) {
    .footerTop .footerBox__top .content__left .content h3 {
        font-size: 1.6rem;
        padding-bottom: 1.5rem;
    }
}

.footerTop .footerBox__top .content__left .content p {
    font-size: 1.8rem;
}

@media screen and (max-width: 840px) {
    .footerTop .footerBox__top .content__left .content p {
        text-align: center;
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 560px) {
    .footerTop .footerBox__top .content__left .content p br {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .footerTop .footerBox__top .content__left .content p {
        text-align: center;
        font-size: 1.3rem;
    }
}

.footerTop .footerBox__top .content__left .content p a {
    color: #ffffff;
}

.footerTop .footerBox__top .content__right {
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 1020px) {
    .footerTop .footerBox__top .content__right {
        width: 100%;
    }
}

.footerTop .footerBox__bottom p {
    font-size: 1.2rem;
    padding-bottom: 7.5rem;
}

@media screen and (max-width: 840px) {
    .footerTop .footerBox__bottom p {
        padding-bottom: 4.5rem;
    }
}

@media screen and (max-width: 560px) {
    .footerTop .footerBox__bottom p {
        padding-bottom: 3.5rem;
        font-size: 1rem;
    }
}

.footerTop .footerBox__bottom .presentedBox {
    text-align: center;
}

.footerTop .footerBox__bottom .presentedBox p {
    font-family: "AudiType";
    padding-bottom: 0;
}
