@charset "UTF-8";
@font-face {
    font-family: 'AudiType Bold';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/AudiType/AudiTypeV02-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'AudiType Extended Bold';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/AudiType/AudiTypeV02-ExtendedBold.otf") format("opentype");
}

@font-face {
    font-family: 'AudiType Extended Normal';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/AudiType/AudiTypeV02-ExtendedNormal.otf") format("opentype");
}

@font-face {
    font-family: 'AudiType';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/AudiType/AudiTypeV02-Normal.otf") format("opentype");
}

@font-face {
    font-family: 'AudiType Italic';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/AudiType/AudiTypeV02-Italic.otf") format("opentype");
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 900;
    src: url("../webfonts/fa-brands-400.eot");
    src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Light';
    font-style: normal;
    font-weight: 300;
    src: url("../webfonts/fa-light-300.eot");
    src: url("../webfonts/fa-light-300.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-light-300.woff2") format("woff2"), url("../webfonts/fa-light-300.woff") format("woff"), url("../webfonts/fa-light-300.ttf") format("truetype"), url("../webfonts/fa-light-300.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../webfonts/fa-regular-400.eot");
    src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
    font-family: 'Font Awesome 5 Solid';
    font-style: normal;
    font-weight: 900;
    src: url("../webfonts/fa-solid-900.eot");
    src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

/*==================================================================================================
	TOP
==================================================================================================*/
.-top .bannerTop {
    background-image: url(../img/top/top_banner.jpg);
    background-size: cover;
    background-position: center;
    height: 638px;
    padding: 7rem 0;
}

@media screen and (min-width: 1480px) {
    .-top .bannerTop {
        height: 800px;
    }
}

@media screen and (min-width: 2020px) {
    .-top .bannerTop {
        height: 42vw;
    }
}

@media screen and (max-width: 1020px) {
    .-top .bannerTop {
        background-position: 70% 50%;
        padding: 5rem 0;
    }
}

@media screen and (max-width: 840px) {
    .-top .bannerTop {
        height: 600px;
        padding: 4rem 0;
        background-image: url(../img/top/top_banner_tb.jpg);
    }
}

@media screen and (max-width: 560px) {
    .-top .bannerTop {
        height: 580px;
        padding: 2rem 0;
        background-image: url(../img/top/top_banner_sp.jpg);
    }
}

@media screen and (max-width: 420px) {
    .-top .bannerTop {
        height: 440px;
    }
}

.-top .bannerTop .introBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 560px) {
    .-top .bannerTop .introBox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

.-top .bannerTop .introBox__left .subTitle {
    font-size: 2.6rem;
    color: #ffffff;
    line-height: 32px;
    padding-bottom: 2rem;
    font-family: "AudiType Extended Normal";
}

@media screen and (max-width: 1020px) {
    .-top .bannerTop .introBox__left .subTitle {
        font-size: 2.3rem;
        padding-bottom: 1.5rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .bannerTop .introBox__left .subTitle {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .bannerTop .introBox__left .subTitle {
        font-size: 1.6rem;
        line-height: 20px;
        padding-bottom: 1rem;
    }
}

.-top .bannerTop .introBox__left .title {
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.-top .bannerTop .introBox__left .title .en {
    font-size: 6.9rem;
    line-height: 67px;
    padding-bottom: 1.8rem;
    font-family: "AudiType Extended Bold";
}

@media screen and (max-width: 1020px) {
    .-top .bannerTop .introBox__left .title .en {
        font-size: 5.9rem;
        line-height: 57px;
        padding-bottom: 1.5rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .bannerTop .introBox__left .title .en {
        font-size: 4.9rem;
        line-height: 1;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .bannerTop .introBox__left .title .en {
        font-size: 3.4rem;
    }
}

@media screen and (max-width: 420px) {
    .-top .bannerTop .introBox__left .title .en {
        font-size: 3rem;
    }
}

.-top .bannerTop .introBox__left .title .jp {
    font-size: 2.6rem;
    font-weight: normal;
}

@media screen and (max-width: 1020px) {
    .-top .bannerTop .introBox__left .title .jp {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .bannerTop .introBox__left .title .jp {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .bannerTop .introBox__left .title .jp {
        font-size: 1.4rem;
    }
}

.-top .bannerTop .introBox .logoBox {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 840px) {
    .-top .bannerTop .introBox .logoBox {
        width: 100px;
    }
}

@media screen and (max-width: 560px) {
    .-top .bannerTop .introBox .logoBox {
        position: static;
        padding-bottom: 1.5rem;
    }
}

.-top .invitationBlock .invitationBox .titleArea {
    font-size: 4rem;
    color: #ffffff;
    font-family: "AudiType Extended Bold";
}

@media screen and (max-width: 840px) {
    .-top .invitationBlock .invitationBox .titleArea {
        font-size: 3rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .invitationBlock .invitationBox .titleArea {
        font-size: 2rem;
    }
}

.-top .invitationBlock .invitationBox p {
    color: #ffffff;
}

.-top .showCaseBlock .showCaseBox {
    background-image: url(../img/top/pic_bg_01.jpg);
    height: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media screen and (min-width: 1480px) {
    .-top .showCaseBlock .showCaseBox {
        height: 550px;
    }
}

@media screen and (min-width: 2020px) {
    .-top .showCaseBlock .showCaseBox {
        height: 30vw;
    }
}

@media screen and (max-width: 1250px) {
    .-top .showCaseBlock .showCaseBox {
        background-position: 70% 50%;
    }
}

@media screen and (max-width: 1160px) {
    .-top .showCaseBlock .showCaseBox {
        height: 350px;
    }
}

@media screen and (max-width: 940px) {
    .-top .showCaseBlock .showCaseBox {
        height: 320px;
    }
}

@media screen and (max-width: 840px) {
    .-top .showCaseBlock .showCaseBox {
        height: 270px;
    }
}

@media screen and (max-width: 720px) {
    .-top .showCaseBlock .showCaseBox {
        height: 230px;
    }
}

@media screen and (max-width: 560px) {
    .-top .showCaseBlock .showCaseBox {
        height: 150px;
    }
}

@media screen and (max-width: 420px) {
    .-top .showCaseBlock .showCaseBox {
        height: 100px;
    }
}

.-top .showCaseBlock .showCaseBox p {
    position: absolute;
    color: #ffffff;
    font-size: 1.2rem;
    right: 4rem;
    bottom: 2rem;
    padding-left: 2rem;
}

@media screen and (max-width: 1160px) {
    .-top .showCaseBlock .showCaseBox p {
        bottom: 1rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .showCaseBlock .showCaseBox p {
        left: 0;
        bottom: 0;
        padding-left: 2rem;
        max-width: 500px;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-size: 1.1rem;
    }
}

.-top .showCaseBlock .showCaseBox p span {
    font-family: "AudiType";
}

.-top .showCaseBlock .tbText {
    font-size: 1.2rem;
    padding: 2rem 0;
    color: #ffffff;
}

@media screen and (max-width: 560px) {
    .-top .showCaseBlock .tbText {
        font-size: 0.9rem;
        padding: 1rem 0;
    }
}

.-top .inventoryBlock .inventoryBox .titleArea {
    font-size: 5.5rem;
    line-height: 20px;
    padding-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
    .-top .inventoryBlock .inventoryBox .titleArea {
        padding-bottom: 4.5rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .inventoryBlock .inventoryBox .titleArea {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .inventoryBlock .inventoryBox .titleArea {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 560px) and (-ms-high-contrast: active), screen and (max-width: 560px) and (-ms-high-contrast: none) {
    .-top .inventoryBlock .inventoryBox .titleArea {
        font-size: 2.2rem;
    }
}

.-top .inventoryBlock .inventoryBox .subTitle {
    font-size: 2.6rem;
    line-height: 32px;
    padding-bottom: 3.3rem;
    font-family: "AudiType Extended Bold";
}

@media screen and (max-width: 840px) {
    .-top .inventoryBlock .inventoryBox .subTitle {
        font-size: 2.2rem;
        padding-bottom: 2.5rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .inventoryBlock .inventoryBox .subTitle {
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .-top .inventoryBlock .inventoryBox .subTitle {
        font-size: 1.3rem;
    }
}

.-top .inventoryBlock .inventoryBox p {
    font-size: 1.8rem;
}

@media screen and (max-width: 840px) {
    .-top .inventoryBlock .inventoryBox p {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .inventoryBlock .inventoryBox p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 420px) {
    .-top .inventoryBlock .inventoryBox p {
        font-size: 1.3rem;
    }
}

.-top .a1Block .bgDesktop {
    background-image: url(../img/top/pic_bg_02.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 2020px) {
    .-top .a1Block .bgDesktop {
        height: 43vw;
    }
}

@media screen and (max-width: 1160px) {
    .-top .a1Block .bgDesktop {
        height: 480px;
    }
}

@media screen and (max-width: 840px) {
    .-top .a1Block .bgDesktop {
        height: 650px;
        background-image: url(../img/top/pic_bg_02_tb.jpg);
    }
}

@media screen and (max-width: 720px) {
    .-top .a1Block .bgDesktop {
        height: 550px;
        background-image: url(../img/top/pic_bg_02_sp.jpg);
    }
}

@media screen and (max-width: 560px) {
    .-top .a1Block .bgDesktop {
        height: 430px;
    }
}

@media screen and (max-width: 370px) {
    .-top .a1Block .bgDesktop {
        height: 360px;
    }
}

.-top .a1Block .a1Inner {
    position: relative;
    height: 100%;
}

@media screen and (max-width: 720px) {
    .-top .a1Block .a1Inner {
        position: inherit;
    }
}

.-top .a1Block .a1Inner .a1Box {
    position: absolute;
    bottom: 5rem;
    left: 0;
    color: #ffffff;
}

@media screen and (max-width: 1160px) {
    .-top .a1Block .a1Inner .a1Box {
        padding-left: 5vw;
    }
}

@media screen and (max-width: 840px) {
    .-top .a1Block .a1Inner .a1Box {
        bottom: 3rem;
    }
}

@media screen and (max-width: 720px) {
    .-top .a1Block .a1Inner .a1Box {
        position: relative;
        bottom: 0;
        left: 0;
        padding-left: 0;
        height: 100%;
    }
}

.-top .a1Block .a1Inner .a1Box .titleType {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
}

@media screen and (max-width: 840px) {
    .-top .a1Block .a1Inner .a1Box .titleType {
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 720px) {
    .-top .a1Block .a1Inner .a1Box .titleType {
        padding-bottom: 0;
        position: absolute;
        right: 0;
        top: 2rem;
    }
}

.-top .a1Block .a1Inner .a1Box .titleType .en {
    font-size: 11.9rem;
    line-height: 1;
    font-family: "AudiType Extended Bold";
}

@media screen and (max-width: 1160px) {
    .-top .a1Block .a1Inner .a1Box .titleType .en {
        font-size: 9.9rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .a1Block .a1Inner .a1Box .titleType .en {
        font-size: 6.9rem;
    }
}

@media screen and (max-width: 720px) {
    .-top .a1Block .a1Inner .a1Box .titleType .en {
        font-size: 6rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .a1Block .a1Inner .a1Box .titleType .en {
        font-size: 5rem;
    }
}

.-top .a1Block .a1Inner .a1Box .titleType .type {
    margin-top: -2rem;
    font-family: "AudiType Extended Bold";
}

@media screen and (max-width: 840px) {
    .-top .a1Block .a1Inner .a1Box .titleType .type {
        font-size: 1.5rem;
        margin-top: -1.5rem;
    }
}

@media screen and (max-width: 720px) {
    .-top .a1Block .a1Inner .a1Box .titleType .type {
        font-size: 1.2rem;
        margin-top: -0.5rem;
    }
}

.-top .a1Block .a1Inner .a1Box p {
    font-size: 2.6rem;
    line-height: 31px;
}

@media screen and (max-width: 1160px) {
    .-top .a1Block .a1Inner .a1Box p {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 940px) {
    .-top .a1Block .a1Inner .a1Box p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .a1Block .a1Inner .a1Box p {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 720px) {
    .-top .a1Block .a1Inner .a1Box p {
        position: absolute;
        bottom: 2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .a1Block .a1Inner .a1Box p {
        font-size: 1.6rem;
        line-height: inherit;
    }
}

.-top .supportBlock .supportTop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 4.5rem;
}

@media screen and (max-width: 1020px) {
    .-top .supportBlock .supportTop {
        padding-bottom: 3.5rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop {
        padding-bottom: 2.5rem;
    }
}

.-top .supportBlock .supportTop__left {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 1020px) {
    .-top .supportBlock .supportTop__left {
        width: 100%;
    }
}

.-top .supportBlock .supportTop__left img {
    width: 50%;
    height: intrinsic;
}

.-top .supportBlock .supportTop__left img:first-child {
    padding-right: 1rem;
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop__left img:first-child {
        padding-right: 0.5rem;
    }
}

.-top .supportBlock .supportTop__left img:last-child {
    padding-left: 1rem;
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop__left img:last-child {
        padding-left: 0.5rem;
    }
}

.-top .supportBlock .supportTop__right {
    width: 50%;
    padding-left: 3rem;
}

@media screen and (max-width: 1020px) {
    .-top .supportBlock .supportTop__right {
        width: 100%;
        padding-left: 0;
        padding-top: 2rem;
    }
}

.-top .supportBlock .supportTop__right .productBox__item {
    padding-bottom: 2rem;
}

.-top .supportBlock .supportTop__right .productBox__item:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1200px) {
    .-top .supportBlock .supportTop__right .productBox__item {
        padding-bottom: 1rem;
    }
}

.-top .supportBlock .supportTop__right .productBox__item .content {
    color: #ffffff;
}

.-top .supportBlock .supportTop__right .productBox__item .content .name {
    font-size: 2rem;
    letter-spacing: 0;
    font-family: "AudiType Extended Bold";
}

@media screen and (max-width: 1200px) {
    .-top .supportBlock .supportTop__right .productBox__item .content .name {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportTop__right .productBox__item .content .name {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop__right .productBox__item .content .name {
        font-size: 1.4rem;
    }
}

.-top .supportBlock .supportTop__right .productBox__item .content .price__number {
    font-size: 2rem;
    font-family: "AudiType Extended Normal";
}

@media screen and (max-width: 1200px) {
    .-top .supportBlock .supportTop__right .productBox__item .content .price__number {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportTop__right .productBox__item .content .price__number {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop__right .productBox__item .content .price__number {
        font-size: 1.4rem;
    }
}

.-top .supportBlock .supportTop__right .productBox__item .content .price__unit {
    font-size: 1.4rem;
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportTop__right .productBox__item .content .price__unit {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop__right .productBox__item .content .price__unit {
        font-size: 1rem;
    }
}

.-top .supportBlock .supportTop .oneColumn {
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 4rem;
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportTop .oneColumn {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop .oneColumn {
        padding-bottom: 1rem;
    }
}

.-top .supportBlock .supportTop .oneColumn .productBox__item {
    padding-right: 4.5rem;
}

@media screen and (max-width: 1160px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item {
        padding-right: 0;
        padding-bottom: 1rem;
        width: 100%;
    }
}

.-top .supportBlock .supportTop .oneColumn .productBox__item .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 1160px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        -webkit-flex-wrap: inherit;
        -ms-flex-wrap: inherit;
        flex-wrap: inherit;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.-top .supportBlock .supportTop .oneColumn .productBox__item .content .name {
    padding-right: 4rem;
    font-size: 2.1rem;
    letter-spacing: 0;
    font-family: "AudiType Extended Bold";
}

@media screen and (max-width: 1200px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .name {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 930px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .name {
        width: 60%;
    }
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .name {
        font-size: 1.6rem;
        padding-right: 0rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .name {
        font-size: 1.4rem;
        width: 100%;
        padding-right: 2rem;
    }
}

.-top .supportBlock .supportTop .oneColumn .productBox__item .content .name.special {
    padding-right: 13.2rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .name.special {
        padding-right: 13.6rem;
    }
}

@media screen and (max-width: 1200px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .name.special {
        padding-right: 14.5rem;
    }
}

@media screen and (max-width: 1160px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .name.special {
        padding-right: 0;
    }
}

.-top .supportBlock .supportTop .oneColumn .productBox__item .content .price__number {
    font-size: 2.1rem;
    font-family: "AudiType Extended Normal";
}

@media screen and (max-width: 1200px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .price__number {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .price__number {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .price__number {
        font-size: 1.4rem;
        width: 100%;
    }
}

.-top .supportBlock .supportTop .oneColumn .productBox__item .content .price__unit {
    font-size: 1.4rem;
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .price__unit {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportTop .oneColumn .productBox__item .content .price__unit {
        font-size: 1rem;
    }
}

.-top .supportBlock .supportTop .equalRow .productBox__item {
    width: 100%;
}

.-top .supportBlock .supportTop .equalRow .productBox__item .content {
    max-width: 850px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.-top .supportBlock .supportBottom {
    color: #ffffff;
}

.-top .supportBlock .supportBottom .title {
    font-size: 2.6rem;
    position: relative;
    display: inline;
    font-weight: normal;
}

@media screen and (max-width: 1020px) {
    .-top .supportBlock .supportBottom .title {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportBottom .title {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportBottom .title {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 560px) and (-ms-high-contrast: active), screen and (max-width: 560px) and (-ms-high-contrast: none) {
    .-top .supportBlock .supportBottom .title {
        font-size: 1.4rem;
    }
}

.-top .supportBlock .supportBottom .title:after {
    content: '';
    position: absolute;
    background-image: url(../img/top/arrow_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 18px;
    top: 50%;
    right: -3rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportBottom .title:after {
        width: 10px;
        height: 14px;
    }
}

.-top .supportBlock .supportBottom .threeSupport {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media screen and (max-width: 720px) {
    .-top .supportBlock .supportBottom .threeSupport {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.-top .supportBlock .supportBottom .threeSupport__item {
    padding-right: 10rem;
}

.-top .supportBlock .supportBottom .threeSupport__item:last-child {
    padding-right: 0;
}

@media screen and (max-width: 1020px) {
    .-top .supportBlock .supportBottom .threeSupport__item {
        padding-right: 8rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportBottom .threeSupport__item {
        padding-right: 6rem;
    }
}

@media screen and (max-width: 730px) {
    .-top .supportBlock .supportBottom .threeSupport__item {
        width: 100%;
        padding-right: 0;
    }
}

.-top .supportBlock .supportBottom .threeSupport__item.iconPlus {
    position: relative;
}

@media screen and (max-width: 730px) {
    .-top .supportBlock .supportBottom .threeSupport__item.iconPlus {
        padding-left: 4rem;
    }
}

.-top .supportBlock .supportBottom .threeSupport__item.iconPlus:after {
    content: '';
    position: absolute;
    background-image: url(../img/top/icon_plus.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    top: 50%;
    left: -7rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 1020px) {
    .-top .supportBlock .supportBottom .threeSupport__item.iconPlus:after {
        left: -6rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportBottom .threeSupport__item.iconPlus:after {
        width: 30px;
        height: 30px;
        left: -4.5rem;
    }
}

@media screen and (max-width: 730px) {
    .-top .supportBlock .supportBottom .threeSupport__item.iconPlus:after {
        left: 0rem;
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 730px) {
    .-top .supportBlock .supportBottom .threeSupport__item .content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.-top .supportBlock .supportBottom .threeSupport__item .content .label {
    font-size: 2.2rem;
    font-weight: normal;
    line-height: 1;
}

@media screen and (max-width: 1020px) {
    .-top .supportBlock .supportBottom .threeSupport__item .content .label {
        font-size: 2rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportBottom .threeSupport__item .content .label {
        font-size: 2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportBottom .threeSupport__item .content .label {
        font-size: 1.4rem;
    }
}

.-top .supportBlock .supportBottom .threeSupport__item .content .price {
    font-size: 4rem;
    font-family: "AudiType Extended Bold";
}

@media screen and (max-width: 1160px) {
    .-top .supportBlock .supportBottom .threeSupport__item .content .price {
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 1020px) {
    .-top .supportBlock .supportBottom .threeSupport__item .content .price {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportBottom .threeSupport__item .content .price {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 720px) {
    .-top .supportBlock .supportBottom .threeSupport__item .content .price {
        padding-left: 2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportBottom .threeSupport__item .content .price {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 560px) and (-ms-high-contrast: active), screen and (max-width: 560px) and (-ms-high-contrast: none) {
    .-top .supportBlock .supportBottom .threeSupport__item .content .price {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 420px) {
    .-top .supportBlock .supportBottom .threeSupport__item .content .price {
        padding-left: 1rem;
    }
}

.-top .supportBlock .supportBottom .threeSupport__item .content .price span {
    font-family: "平成ゴシックW3", sans-serif;
    font-weight: normal;
}

.-top .supportBlock .supportBottom .desc {
    padding-bottom: 4rem;
}

@media screen and (max-width: 840px) {
    .-top .supportBlock .supportBottom .desc {
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .supportBlock .supportBottom .desc {
        padding-bottom: 2rem;
    }
}

.-top .supportBlock .supportBottom .note p {
    font-size: 1.2rem;
    font-family: "AudiType Extended Normal";
}

@media screen and (max-width: 540px) {
    .-top .supportBlock .supportBottom .note p {
        font-size: 1rem;
    }
}

.-top .supportBlock .supportBottom .note p span {
    font-family: "平成ゴシックW3", sans-serif;
}

.-top .lineupBlock .lineupBox .titleArea {
    font-size: 4rem;
    line-height: 52px;
    padding-bottom: 1rem;
    font-family: "AudiType Extended Bold";
}

@media screen and (max-width: 840px) {
    .-top .lineupBlock .lineupBox .titleArea {
        font-size: 3rem;
        line-height: 42px;
    }
}

@media screen and (max-width: 560px) {
    .-top .lineupBlock .lineupBox .titleArea {
        font-size: 2rem;
        line-height: 30px;
        padding-bottom: 0.5rem;
    }
}

.-top .lineupBlock .lineupBox .subTitle {
    font-size: 2.6rem;
    line-height: 32px;
    padding-bottom: 3rem;
}

@media screen and (max-width: 840px) {
    .-top .lineupBlock .lineupBox .subTitle {
        font-size: 2.2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .lineupBlock .lineupBox .subTitle {
        font-size: 1.5rem;
        line-height: inherit;
    }
}

.-top .lineupBlock .lineupBox .subTitle span {
    font-family: "AudiType Extended Bold";
}

.-top .lineupBlock .lineupBox p {
    padding-bottom: 4rem;
}

@media screen and (max-width: 840px) {
    .-top .lineupBlock .lineupBox p {
        padding-bottom: 2rem;
    }
}

.-top .lineupBlock .lineupBox h4 {
    font-size: 2rem;
}

@media screen and (max-width: 840px) {
    .-top .lineupBlock .lineupBox h4 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .lineupBlock .lineupBox h4 {
        font-size: 1.4rem;
    }
}

.-top .q2Block .bgDesktop {
    background-image: url(../img/top/pic_bg_03.jpg);
    height: 600px;
    padding: 5rem 0;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 1480px) {
    .-top .q2Block .bgDesktop {
        height: 800px;
    }
}

@media screen and (min-width: 2020px) {
    .-top .q2Block .bgDesktop {
        height: 43vw;
    }
}

@media screen and (max-width: 1160px) {
    .-top .q2Block .bgDesktop {
        padding: 4rem 0;
        height: 500px;
    }
}

@media screen and (max-width: 840px) {
    .-top .q2Block .bgDesktop {
        height: 650px;
        background-image: url(../img/top/pic_bg_03_tb.jpg);
        padding: 2rem 0;
    }
}

@media screen and (max-width: 720px) {
    .-top .q2Block .bgDesktop {
        height: 560px;
    }
}

@media screen and (max-width: 560px) {
    .-top .q2Block .bgDesktop {
        background-image: url(../img/top/pic_bg_03_sp.jpg);
        height: 430px;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 370px) {
    .-top .q2Block .bgDesktop {
        height: 380px;
    }
}

.-top .q2Block .q2Inner {
    height: 100%;
}

.-top .q2Block .q2Inner .q2Box {
    position: relative;
    height: 100%;
}

.-top .q2Block .q2Inner .q2Box__top {
    position: absolute;
}

.-top .q2Block .q2Inner .q2Box__top p {
    font-size: 2rem;
}

@media screen and (max-width: 840px) {
    .-top .q2Block .q2Inner .q2Box__top p {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 720px) {
    .-top .q2Block .q2Inner .q2Box__top p {
        font-size: 1.4rem;
    }
}

.-top .q2Block .q2Inner .q2Box__top p span {
    font-family: "AudiType Extended Bold";
}

.-top .q2Block .q2Inner .q2Box__top h2 {
    font-size: 4rem;
    font-weight: normal;
}

@media screen and (max-width: 1160px) {
    .-top .q2Block .q2Inner .q2Box__top h2 {
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .q2Block .q2Inner .q2Box__top h2 {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 720px) {
    .-top .q2Block .q2Inner .q2Box__top h2 {
        font-size: 2.2rem;
        line-height: 30px;
    }
}

.-top .q2Block .q2Inner .q2Box__top h2 span {
    font-family: "AudiType Extended Bold";
}

.-top .q2Block .q2Inner .q2Box__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
}

.-top .q2Block .q2Inner .q2Box__bottom h2 {
    font-size: 11.9rem;
    line-height: 1;
    text-align: right;
    font-family: "AudiType Extended Bold";
}

@media screen and (max-width: 1160px) {
    .-top .q2Block .q2Inner .q2Box__bottom h2 {
        font-size: 9.9rem;
    }
}

@media screen and (max-width: 940px) {
    .-top .q2Block .q2Inner .q2Box__bottom h2 {
        font-size: 6.9rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .q2Block .q2Inner .q2Box__bottom h2 {
        font-size: 8rem;
    }
}

@media screen and (max-width: 720px) {
    .-top .q2Block .q2Inner .q2Box__bottom h2 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .q2Block .q2Inner .q2Box__bottom h2 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 420px) {
    .-top .q2Block .q2Inner .q2Box__bottom h2 {
        font-size: 4rem;
    }
}

.-top .q2Block .q2Inner .q2Box__bottom p {
    font-size: 2rem;
}

@media screen and (max-width: 940px) {
    .-top .q2Block .q2Inner .q2Box__bottom p {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .q2Block .q2Inner .q2Box__bottom p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 420px) {
    .-top .q2Block .q2Inner .q2Box__bottom p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 370px) {
    .-top .q2Block .q2Inner .q2Box__bottom p br {
        display: none;
    }
}

.-top .q2Block .q2Inner .q2Box__bottom p span {
    font-family: "AudiType Extended Normal";
}

.-top .q2Block .mdText {
    padding: 2rem 0;
}

.-top .q2Block .mdText h2 {
    font-size: 4.9rem;
    padding-bottom: 1rem;
    line-height: 1;
}

.-top .q2Block .mdText br {
    display: none;
}

.-top .a3Block .bgDesktop {
    background-image: url(../img/top/pic_bg_04.jpg);
}

@media screen and (min-width: 1480px) {
    .-top .a3Block .bgDesktop {
        background-position: 75% 50%;
    }
}

@media screen and (max-width: 1160px) {
    .-top .a3Block .bgDesktop {
        background-position: 85% 50%;
    }
}

@media screen and (max-width: 1020px) {
    .-top .a3Block .bgDesktop {
        background-position: 70% 50%;
    }
}

@media screen and (max-width: 840px) {
    .-top .a3Block .bgDesktop {
        height: 680px;
        background-image: url(../img/top/pic_bg_04_tb.jpg);
        padding: 2rem 0;
    }
}

@media screen and (max-width: 720px) {
    .-top .a3Block .bgDesktop {
        height: 580px;
    }
}

@media screen and (max-width: 560px) {
    .-top .a3Block .bgDesktop {
        background-image: url(../img/top/pic_bg_04_sp.jpg);
        height: 480px;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 420px) {
    .-top .a3Block .bgDesktop {
        height: 430px;
    }
}

@media screen and (max-width: 370px) {
    .-top .a3Block .bgDesktop {
        height: 390px;
    }
}

.-top .a3Block .mdText br {
    display: block;
}

.-top .a3Block .q2Inner .q2Box__bottom {
    left: 0;
    color: #000000;
}

.-top .a3Block .q2Inner .q2Box__bottom h2 {
    text-align: left;
}

@media screen and (max-width: 370px) {
    .-top .a3Block .q2Inner .q2Box__bottom h2 {
        font-size: 4rem;
    }
}

.-top .benefitsBlock .benefitsBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.-top .benefitsBlock .benefitsBox__left {
    width: 60%;
    padding: 7rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .-top .benefitsBlock .benefitsBox__left {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 1160px) {
    .-top .benefitsBlock .benefitsBox__left {
        width: 100%;
        padding: 5rem 0;
    }
}

@media screen and (max-width: 720px) {
    .-top .benefitsBlock .benefitsBox__left {
        padding: 3rem 0;
    }
}

.-top .benefitsBlock .benefitsBox__left .content {
    max-width: 720px;
    margin: 0 auto;
}

@media screen and (max-width: 1160px) {
    .-top .benefitsBlock .benefitsBox__left .content {
        max-width: 100%;
    }
}

.-top .benefitsBlock .benefitsBox__left .content h2 {
    font-size: 5rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
    .-top .benefitsBlock .benefitsBox__left .content h2 {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .benefitsBlock .benefitsBox__left .content h2 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .benefitsBlock .benefitsBox__left .content h2 {
        font-size: 2.5rem;
    }
}

.-top .benefitsBlock .benefitsBox__left .content .desc {
    font-size: 2.4rem;
    padding-bottom: 2.4rem;
    line-height: 1.6;
}

@media screen and (max-width: 840px) {
    .-top .benefitsBlock .benefitsBox__left .content .desc {
        font-size: 2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .benefitsBlock .benefitsBox__left .content .desc {
        font-size: 1.4rem;
        padding-bottom: 1.5rem;
    }
}

.-top .benefitsBlock .benefitsBox__left .content .desc span {
    font-family: "AudiType Extended Normal";
}

.-top .benefitsBlock .benefitsBox__left .content .sub {
    font-size: 1.4rem;
    padding-bottom: 4rem;
}

@media screen and (max-width: 560px) {
    .-top .benefitsBlock .benefitsBox__left .content .sub {
        padding-bottom: 2rem;
    }
}

.-top .benefitsBlock .benefitsBox__left .content .comBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.-top .benefitsBlock .benefitsBox__left .content .comBox__left {
    width: calc(100% - 220px);
}

@media screen and (max-width: 560px) {
    .-top .benefitsBlock .benefitsBox__left .content .comBox__left {
        width: 100%;
    }
}

.-top .benefitsBlock .benefitsBox__left .content .comBox__left p {
    font-size: 3rem;
    line-height: 1.5;
}

@media screen and (max-width: 1200px) {
    .-top .benefitsBlock .benefitsBox__left .content .comBox__left p {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 840px) {
    .-top .benefitsBlock .benefitsBox__left .content .comBox__left p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 560px) {
    .-top .benefitsBlock .benefitsBox__left .content .comBox__left p {
        font-size: 1.6rem;
        text-align: center;
    }
    .-top .benefitsBlock .benefitsBox__left .content .comBox__left p br {
        display: none;
    }
}

.-top .benefitsBlock .benefitsBox__left .content .comBox__left p span {
    font-family: "AudiType Extended Normal";
}

.-top .benefitsBlock .benefitsBox__left .content .comBox__right {
    width: 220px;
}

@media screen and (max-width: 560px) {
    .-top .benefitsBlock .benefitsBox__left .content .comBox__right {
        width: 100%;
    }
}

.-top .benefitsBlock .benefitsBox__left .content .comBox__right img {
    width: 100%;
}

.-top .benefitsBlock .benefitsBox__right {
    width: 40%;
}

@media screen and (max-width: 1160px) {
    .-top .benefitsBlock .benefitsBox__right {
        width: 100%;
    }
}

.-top .benefitsBlock .benefitsBox__right .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

@media screen and (max-width: 1160px) {
    .-top .benefitsBlock .benefitsBox__right .content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (max-width: 720px) {
    .-top .benefitsBlock .benefitsBox__right .content {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .-top .benefitsBlock .benefitsBox__right .content img {
        height: 200px;
    }
}

@media screen and (max-width: 560px) {
    .-top .benefitsBlock .benefitsBox__right .content img {
        height: 150px;
    }
}

.-top .benefitsBlock .benefitsBox__right img {
    width: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1160px) {
    .-top .benefitsBlock .benefitsBox__right img {
        width: 33.333%;
        height: 250px;
    }
}

@media screen and (max-width: 840px) {
    .-top .benefitsBlock .benefitsBox__right img {
        height: 200px;
    }
}

@media screen and (max-width: 720px) {
    .-top .benefitsBlock .benefitsBox__right img.oneCl {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .-top .benefitsBlock .benefitsBox__right img.twoCl {
        width: 50%;
    }
}

.-top .benefitsBlock .benefitsBox__right img.bn1 {
    background-image: url(../img/top/pic_benefits_01.jpg);
}

.-top .benefitsBlock .benefitsBox__right img.bn2 {
    background-image: url(../img/top/pic_benefits_02.jpg);
}

.-top .benefitsBlock .benefitsBox__right img.bn3 {
    background-image: url(../img/top/pic_benefits_03.jpg);
}
