@charset "utf-8";


/*==================================================================================================
	TOP
==================================================================================================*/
.-top {
    .bannerTop {
        background-image: url(../img/top/top_banner.jpg);
        background-size: cover;
        background-position: center;
        height: 638px;
        padding: 7rem 0;
        
        @include min-screen($screen-bg) {
            height: 800px;
        }
        @include min-screen(2020px) {
            height: 42vw;
        }
        @include max-screen($screen-lg) {
            background-position: 70% 50%;
            padding: 5rem 0;
        }
        @include max-screen($screen-tb) {
            height: 600px;
            padding: 4rem 0;
            background-image: url(../img/top/top_banner_tb.jpg);
        }
        @include max-screen($screen-sm) {
            height: 580px;
            padding: 2rem 0;
            background-image: url(../img/top/top_banner_sp.jpg);
        }
        @include max-screen($screen-xss) {
            height: 440px;
        }
        .introBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            @include max-screen($screen-sm) {
                flex-direction: column-reverse;
            }
            &__left {
                .subTitle {
                    @include font-size(26);
                    color: $white;
                    line-height: 32px;
                    padding-bottom: 2rem;
                    font-family: $audiX;
                    @include max-screen($screen-lg) {
                        @include font-size(23);
                        padding-bottom: 1.5rem;
                    }
                    @include max-screen($screen-tb) {
                        @include font-size(22);
                    }
                    @include max-screen($screen-sm) {
                        @include font-size(16);
                        line-height: 20px;
                        padding-bottom: 1rem;
                    }
                }
                .title {
                    color: $white;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    .en {
                        @include font-size(69);
                        line-height: 67px;
                        padding-bottom: 1.8rem;
                        font-family: $audiBx;
                        @include max-screen($screen-lg) {
                            @include font-size(59);
                            line-height: 57px;
                            padding-bottom: 1.5rem;
                        }
                        @include max-screen($screen-tb) {
                            @include font-size(49);
                            line-height: 1;
                            padding-bottom: 1rem;
                        }
                        @include max-screen($screen-sm) {
                            @include font-size(34);
                        }
                        @include max-screen($screen-xss) {
                            @include font-size(30);
                        }
                    }
                    .jp {
                        @include font-size(26);
                        font-weight: normal;
                        @include max-screen($screen-lg) {
                            @include font-size(23);
                        }
                        @include max-screen($screen-tb) {
                            @include font-size(22);
                        }
                        @include max-screen($screen-sm) {
                            @include font-size(14);
                        }
                    }
                }
            }
            .logoBox {
                position: absolute;
                right: 0;
                @include max-screen($screen-tb) {
                    width: 100px;
                }
                @include max-screen($screen-sm) {
                    position: static;
                    padding-bottom: 1.5rem;
                }
            }
        }
    }
    .invitationBlock {
        .invitationBox {
            .titleArea {
                @include font-size(40);
                color: $white;
                font-family: $audiBx;
                @include max-screen($screen-tb) {
                    @include font-size(30);
                }
                @include max-screen($screen-sm) {
                    @include font-size(20);
                }
            }
            p {
                color: $white;
            }
        }
    }
    .showCaseBlock {
        .showCaseBox {
            background-image: url(../img/top/pic_bg_01.jpg);
            height: 450px;  
            background-size: cover;
            background-position: center;
            position: relative;
           
            @include min-screen($screen-bg) {
                height: 550px;
            }
            @include min-screen(2020px) {
                height: 30vw;
            }
            @include max-screen(1250px) {
                background-position: 70% 50%;
            }
            @include max-screen($screen-lm) {
                height: 350px;  
            }
            @include max-screen(940px) {
                height: 320px;  
            }
            @include max-screen($screen-tb) {
                height: 270px;  
            }
            @include max-screen($screen-md) {
                height: 230px;  
            }
            @include max-screen($screen-sm) {
                height: 150px;  
            }
            @include max-screen($screen-xss) {
                height: 100px;  
            }
            p {
                position: absolute;
                color: $white;
                @include font-size(12);
                right: 4rem;
                bottom: 2rem;
                padding-left: 2rem;
                @include max-screen($screen-lm) {
                    bottom: 1rem; 
                }
                @include max-screen($screen-tb) {
                    left: 0;
                    bottom: 0;
                    padding-left: 2rem;
                    max-width: 500px;
                    padding-bottom: 1rem;
                    padding-right: 2rem;
                    @include font-size(11);
                }
                span {
                    font-family: $audi;
                }
            }
        }
        .tbText {
            @include font-size(12);
            padding: 2rem 0;
            color: $white;
            @include max-screen($screen-sm) {
                @include font-size(9);
                padding: 1rem 0;
            }
        }
    }
    .inventoryBlock {
        .inventoryBox {
            .titleArea {
                @include font-size(55);
                line-height: 20px;
                padding-bottom: 2.5rem;
                @include min-screen(768px) {
                    padding-bottom: 4.5rem;
                }
                @include max-screen($screen-tb) {
                    @include font-size(35);
                }
                @include max-screen($screen-sm) {
                    @include font-size(25);
                    padding-bottom: 1rem;
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        @include font-size(22);
                     }
                }
            }
            .subTitle {
                @include font-size(26);
                line-height: 32px;
                padding-bottom: 3.3rem;
                font-family: $audiBx;
                @include max-screen($screen-tb) {
                    @include font-size(22);
                    padding-bottom: 2.5rem;
                }
                @include max-screen($screen-sm) {
                    @include font-size(16);
                    padding-bottom: 1rem;
                }
                @include max-screen($screen-xss) {
                    @include font-size(13);
                }
            }
            p {
                @include font-size(18);
                @include max-screen($screen-tb) {
                    @include font-size(17);
                }
                @include max-screen($screen-sm) {
                    @include font-size(16);
                }
                @include max-screen($screen-xss) {
                    @include font-size(13);
                }
            }
        }
    }
    .a1Block {
        .bgDesktop {
            background-image: url(../img/top/pic_bg_02.jpg);
            height: 600px;
            background-size: cover;
            background-position: center;
            @include min-screen(2020px) {
                height: 43vw;
            }
            @include max-screen($screen-lm) {
                height: 480px;
            }
            @include max-screen($screen-tb) {
                height: 650px;
                background-image: url(../img/top/pic_bg_02_tb.jpg);
            }
            @include max-screen($screen-md) {
                height: 550px;
                background-image: url(../img/top/pic_bg_02_sp.jpg);
            }
            @include max-screen($screen-sm) {
                height: 430px;
            }
            @include max-screen(370px) {
                height: 360px;
            }
        }
        .a1Inner {
            position: relative;
            height: 100%;
            @include max-screen($screen-md) {
                position: inherit;
            }
            .a1Box {
                position: absolute;
                bottom: 5rem;
                left: 0;
                color: $white;
                @include max-screen($screen-lm) {
                    padding-left:5vw;
                }
                @include max-screen($screen-tb) {
                    bottom: 3rem;
                }
                @include max-screen($screen-md) {
                    position: relative;
                    bottom: 0;
                    left: 0;
                    padding-left: 0;
                    height: 100%;
                }
                .titleType {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    padding-bottom: 1.5rem;
                    @include max-screen($screen-tb) {
                        padding-bottom: 1rem;
                    }
                    @include max-screen($screen-md) {
                        padding-bottom: 0;
                        position: absolute;
                        right: 0;
                        top: 2rem;
                    }
                    .en {
                        @include font-size(119);
                        line-height: 1;
                        font-family: $audiBx;
                        @include max-screen($screen-lm) {
                            @include font-size(99);
                        }
                        @include max-screen($screen-tb) {
                            @include font-size(69);
                        }
                        @include max-screen($screen-md) {
                            @include font-size(60);
                        }
                        @include max-screen($screen-sm) {
                            @include font-size(50);
                        }
                    }
                    .type {
                        margin-top: -2rem;
                        font-family: $audiBx;
                        @include max-screen($screen-tb) {
                            @include font-size(15);
                            margin-top: -1.5rem;
                        }
                        @include max-screen($screen-md) {
                            @include font-size(12);
                            margin-top: -0.5rem;
                        }
                    }
                }
                p {
                    @include font-size(26);
                    line-height: 31px;
                    @include max-screen($screen-lm) {
                        @include font-size(22);
                    }
                    @include max-screen(940px) {
                        @include font-size(20);
                    }
                    @include max-screen($screen-tb) {
                        @include font-size(18);
                    }
                    @include max-screen($screen-md) {
                        position: absolute;
                        bottom: 2rem;
                    }
                    @include max-screen($screen-sm) {
                        @include font-size(16);
                        line-height: inherit;
                    }
                }
            }
        }
    }
    .supportBlock {
        .supportTop {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 4.5rem;
            @include max-screen($screen-lg) {
                padding-bottom: 3.5rem;
            }
            @include max-screen($screen-sm) {
                padding-bottom: 2.5rem;
            }
            &__left {
                width: 50%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @include max-screen($screen-lg) {
                    width: 100%;
                }
                img {
                    width: 50%;
                    height: intrinsic;
                    &:first-child{
                        padding-right: 1rem;
                        @include max-screen($screen-sm) {
                            padding-right: 0.5rem;
                        }
                    }
                    &:last-child{
                        padding-left: 1rem;
                        @include max-screen($screen-sm) {
                            padding-left: 0.5rem;
                        }
                    }
                }
            }
            &__right {
                width: 50%;
                padding-left: 3rem;
                @include max-screen($screen-lg) {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 2rem;
                }
                .productBox {
                    &__item {
                        padding-bottom: 2rem;
                        &:last-child {
                            padding-bottom: 0;
                        }
                        @include max-screen($screen-xl) {
                            padding-bottom: 1rem;
                        }
                        .content {
                            color: $white;
                            .name {
                                @include font-size(20);
                                letter-spacing: 0;
                                font-family: $audiBx;
                                @include max-screen($screen-xl) {
                                    @include font-size(18)
                                }
                                @include max-screen($screen-tb) {
                                    @include font-size(16)
                                }
                                @include max-screen($screen-sm) {
                                    @include font-size(14)
                                }
                            }
                            .price {
                                &__number {
                                    @include font-size(20);
                                    font-family: $audiX;
                                    @include max-screen($screen-xl) {
                                        @include font-size(18)
                                    }
                                    @include max-screen($screen-tb) {
                                        @include font-size(16)
                                    }
                                    @include max-screen($screen-sm) {
                                        @include font-size(14)
                                    }
                                }
                                &__unit {
                                    @include font-size(14);
                                    @include max-screen($screen-tb) {
                                        @include font-size(12)
                                    }
                                    @include max-screen($screen-sm) {
                                        @include font-size(10)
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .oneColumn {
                color: $white;
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid $white;
                padding-bottom: 4rem;
                @include max-screen($screen-tb) {
                    padding-bottom: 2rem;
                }
                @include max-screen($screen-sm) {
                    padding-bottom: 1rem;
                }
                .productBox__item {
                    padding-right: 4.5rem;
                    @include max-screen($screen-lm) {
                       padding-right: 0;
                       padding-bottom: 1rem;
                       width: 100%;
                    }
                    .content {
                        display: flex;
                        flex-wrap: wrap;
                        @include max-screen($screen-lm) {
                            justify-content: space-between;
                            width: 100%;
                            flex-wrap: inherit;
                        }
                        @include max-screen($screen-sm) {
                            flex-wrap: wrap;
                        }
                        .name {
                            padding-right: 4rem;
                            @include font-size(21);
                            letter-spacing: 0;
                            font-family: $audiBx;
                            @include max-screen($screen-xl) {
                                @include font-size(18)
                            }
                            @include max-screen(930px) {
                                width: 60%;
                            }
                            @include max-screen($screen-tb) {
                                @include font-size(16);
                                padding-right: 0rem;
                            }
                            @include max-screen($screen-sm) {
                                @include font-size(14);
                                width: 100%;
                                padding-right: 2rem;
                            }
                            &.special {
                                padding-right: 13.2rem;
                                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                                    padding-right: 13.6rem;
                                 }
                                @include max-screen($screen-xl) {
                                    padding-right: 14.5rem;
                                }
                                @include max-screen($screen-lm) {
                                    padding-right: 0;
                                }
                            }
                        }
                        .price {
                            &__number {
                                @include font-size(21);
                                font-family: $audiX;
                                @include max-screen($screen-xl) {
                                    @include font-size(18)
                                }
                                @include max-screen($screen-tb) {
                                    @include font-size(16)
                                }
                                @include max-screen($screen-sm) {
                                    @include font-size(14);
                                    width: 100%;
                                }
                            }
                            &__unit {
                                @include font-size(14);
                                @include max-screen($screen-tb) {
                                    @include font-size(12)
                                }
                                @include max-screen($screen-sm) {
                                    @include font-size(10)
                                }
                            }
                        }
                    }
                }
            }
            .equalRow {
                .productBox__item {
                    width: 100%;
                    .content {
                        max-width: 850px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }
                }
            }
        }
        .supportBottom {
            color: $white;
            .title {
                @include font-size(26);
                position: relative;
                display: inline;
                font-weight: normal;
                @include max-screen($screen-lg) {
                    @include font-size(24);
                }
                @include max-screen($screen-tb) {
                    @include font-size(22)
                }
                @include max-screen($screen-sm) {
                    @include font-size(16);
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        @include font-size(14);
                     }
                }
                &:after {
                    content: '';
                    position: absolute;
                    background-image: url(../img/top/arrow_right.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 10px;
                    height: 18px;
                    top: 50%;
                    right: -3rem;
                    transform: translateY(-50%);
                    @include max-screen($screen-tb) {
                        width: 10px;
                        height: 14px;
                    }
                }
            }
            .threeSupport {
                display: flex;
                flex-wrap: wrap;
                padding-top: 4rem;
                padding-bottom: 4rem;
                @include max-screen($screen-md) {
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                }
                &__item {
                    padding-right: 10rem;
                    &:last-child {
                        padding-right: 0;
                    }
                    @include max-screen($screen-lg) {
                        padding-right: 8rem;
                    }
                    @include max-screen($screen-tb) {
                        padding-right: 6rem;
                    }
                    @include max-screen(730px) {
                        width: 100%;
                        padding-right: 0;
                    }
                    &.iconPlus {
                        position: relative;
                        @include max-screen(730px) {
                            padding-left: 4rem;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            background-image: url(../img/top/icon_plus.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 39px;
                            height: 39px;
                            top: 50%;
                            left: -7rem;
                            transform: translateY(-50%);
                            @include max-screen($screen-lg) {
                                left: -6rem;
                            }
                            @include max-screen($screen-tb) {
                                width: 30px;
                                height: 30px;
                                left: -4.5rem;
                            }
                            @include max-screen(730px) {
                                left: 0rem;
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                    .content {
                        @include max-screen(730px) {
                            display: flex;
                            align-items: center;
                        }
                        .label {
                            @include font-size(22);
                            font-weight: normal;
                            line-height: 1;
                            @include max-screen($screen-lg) {
                                @include font-size(20);
                            }
                            @include max-screen($screen-tb) {
                                @include font-size(20)
                            }
                            @include max-screen($screen-sm) {
                                @include font-size(14)
                            }
                        }
                        .price {
                            @include font-size(40);
                            font-family: $audiBx;
                            @include max-screen($screen-lm) {
                                @include font-size(32);
                            }
                            @include max-screen($screen-lg) {
                                @include font-size(28);
                            }
                            @include max-screen($screen-tb) {
                                @include font-size(26);
                            }
                            @include max-screen($screen-md) {
                                padding-left: 2rem;
                            }
                            @include max-screen($screen-sm) {
                                @include font-size(18);
                                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                                    @include font-size(16);
                                 }
                            }
                            
                            @include max-screen($screen-xss) {
                                padding-left: 1rem;
                            }
                            span {
                                font-family: $default-font;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
            .desc {
                padding-bottom: 4rem;
                @include max-screen($screen-tb) {
                    padding-bottom: 3rem;
                }
                @include max-screen($screen-sm) {
                    padding-bottom: 2rem;
                }
            }
            .note {
                p {
                    @include font-size(12);
                    @include max-screen(540px) {
                        @include font-size(10);
                    }
                    font-family: $audiX;
                    span {
                        font-family: $default-font;
                    }
                }
            }
        }
    }
    .lineupBlock {
        .lineupBox {
            .titleArea {
                @include font-size(40);
                line-height: 52px;
                padding-bottom: 1rem;
                font-family: $audiBx;
                @include max-screen($screen-tb) {
                    @include font-size(30);
                    line-height: 42px;
                }
                @include max-screen($screen-sm) {
                    @include font-size(20);
                    line-height: 30px;
                    padding-bottom: 0.5rem;
                }
            }
            .subTitle {
                @include font-size(26);
                line-height: 32px;
                padding-bottom: 3rem;
                @include max-screen($screen-tb) {
                    @include font-size(22);
                    padding-bottom: 2rem;
                }
                @include max-screen($screen-sm) {
                    @include font-size(15);
                    line-height: inherit;
                }
                span {
                    font-family: $audiBx;
                }
            }
            p {
                padding-bottom: 4rem;
                @include max-screen($screen-tb) {
                    padding-bottom: 2rem;
                }
            }
            h4 {
                @include font-size(20);
                @include max-screen($screen-tb) {
                    @include font-size(16);
                }
                @include max-screen($screen-sm) {
                    @include font-size(14);
                }
            }
        }
    }
    .q2Block {
        .bgDesktop {
            background-image: url(../img/top/pic_bg_03.jpg);
            height: 600px;
            padding: 5rem 0;
            background-size: cover;
            background-position: center;
            @include min-screen($screen-bg) {
                height: 800px;
            }
            @include min-screen(2020px) {
                height: 43vw;
            }
            @include max-screen($screen-lm) {
                padding: 4rem 0;
                height: 500px;
            }
            @include max-screen($screen-tb) {
                height: 650px;
                background-image: url(../img/top/pic_bg_03_tb.jpg);
                padding: 2rem 0;
            }
            @include max-screen($screen-md) {
                height: 560px;
            }
            @include max-screen($screen-sm) {
                background-image: url(../img/top/pic_bg_03_sp.jpg);
                height: 430px;
                padding: 1rem 0;
            }
            @include max-screen(370px) {
               height: 380px;
            }
        }
        .q2Inner {
            height: 100%;
            .q2Box {
                position: relative;
                height: 100%;
                &__top {
                    position: absolute;
                    p {
                        @include font-size(20);
                        @include max-screen($screen-tb) {
                            @include font-size(18);
                        }
                        @include max-screen($screen-md) {
                            @include font-size(14);
                        }
                        span {
                            font-family: $audiBx;
                        }
                    }
                    h2 {
                        @include font-size(40);
                        font-weight: normal;
                        @include max-screen($screen-lm) {
                            @include font-size(32);
                        }
                        @include max-screen($screen-tb) {
                            @include font-size(28);
                        }
                        @include max-screen($screen-md) {
                            @include font-size(22);
                            line-height: 30px;
                        }
                        span {
                            font-family: $audiBx;
                        }
                    }
                }
                &__bottom {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: $white;
                    h2 {
                        @include font-size(119);
                        line-height: 1;
                        text-align: right;
                        font-family: $audiBx;
                        @include max-screen($screen-lm) {
                            @include font-size(99);
                        }
                        @include max-screen(940px) {
                            @include font-size(69);
                        }
                        @include max-screen($screen-tb) {
                            @include font-size(80);
                        }
                        @include max-screen($screen-md) {
                            @include font-size(60);
                        }
                        @include max-screen($screen-sm) {
                            @include font-size(50);
                        }
                        
                        @include max-screen(420px) {
                            @include font-size(40);
                        }
                    }
                    p {
                        @include font-size(20);
                        @include max-screen(940px) {
                            @include font-size(18);
                        }
                        @include max-screen($screen-sm) {
                            @include font-size(16);
                        }
                        @include max-screen(420px) {
                            @include font-size(15);
                        }
                        @include max-screen(370px) {
                            br {
                                display: none;
                            }
                        }
                        span {
                            font-family: $audiX;
                        }
                    }
                }
            }
        }
        .mdText {
            padding: 2rem 0;
            h2 {
                @include font-size(49);
                padding-bottom: 1rem;
                line-height: 1;
            }
            br {
                display: none;
            }
        }
    }
    .a3Block {
        .bgDesktop {
            background-image: url(../img/top/pic_bg_04.jpg);
            @include min-screen($screen-bg) {
                background-position: 75% 50%;
              }
            @include max-screen($screen-lm) {
                background-position: 85% 50%;
            }
            @include max-screen($screen-lg) {
                background-position: 70% 50%;
            }
            @include max-screen($screen-tb) {
                height: 680px;
                background-image: url(../img/top/pic_bg_04_tb.jpg);
                padding: 2rem 0;
            }
            @include max-screen($screen-md) {
                height: 580px;
            }
            @include max-screen($screen-sm) {
                background-image: url(../img/top/pic_bg_04_sp.jpg);
                height: 480px;
                padding: 1rem 0;
            }
            @include max-screen(420px) {
               height: 430px;
            }
            @include max-screen(370px) {
                height: 390px;
            }
        }
        .mdText {
            br {
                display: block;
            }
        }
        .q2Inner {
            .q2Box {
                &__bottom {
                    left: 0;
                    color: $black;
                    h2 {
                        text-align: left;
                        @include max-screen(370px) {
                            @include font-size(40);
                        }
                    }
                }
            }
        }
    }
    .benefitsBlock {
        .benefitsBox {
            display: flex;
            flex-wrap: wrap-reverse;
            &__left {
                width: 60%;
                padding: 7rem;
                display: flex;
                align-items: center;
                @include max-screen($screen-xl) {
                    padding: 3rem 0;
                }
                @include max-screen($screen-lm) {
                    width: 100%;
                    padding: 5rem 0;
                }
                @include max-screen($screen-md) {
                    padding: 3rem 0;
                }
                .content {
                    max-width: 720px;
                    margin: 0 auto;
                    @include max-screen($screen-lm) {
                        max-width: 100%;
                    }
                    h2 {
                        @include font-size(50);
                        padding-bottom: 1rem;
                        @include max-screen($screen-xl) {
                            @include font-size(45);
                        }
                        @include max-screen($screen-tb) {
                            @include font-size(40);
                        }
                        @include max-screen($screen-sm) {
                            @include font-size(25);
                        }
                    }
                    .desc {
                        @include font-size(24);
                        padding-bottom: 2.4rem;
                        line-height: 1.6;
                        @include max-screen($screen-tb) {
                            @include font-size(20);
                        }
                        @include max-screen($screen-sm) {
                            @include font-size(14);
                            padding-bottom: 1.5rem;
                        }
                        span {
                            font-family: $audiX;
                        }
                    }
                    .sub {
                        @include font-size(14);
                        padding-bottom: 4rem;
                        @include max-screen($screen-sm) {
                            padding-bottom: 2rem;
                        }
                    }
                    .comBox {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 1.5rem;
                        margin-bottom: 1.5rem;
                        border-top: 1px solid $black;
                        border-bottom: 1px solid $black;
                        &__left {
                            width: calc(100% - 220px);
                            @include max-screen($screen-sm) {
                                width: 100%;
                            }
                            p {
                            @include font-size(30);
                            line-height: 1.5;
                            @include max-screen($screen-xl) {
                                @include font-size(25);
                            }
                            @include max-screen($screen-tb) {
                                @include font-size(20);
                            }
                            @include max-screen($screen-sm) {
                                @include font-size(16);
                                text-align: center;
                                br {
                                    display: none;
                                }
                            }
                                span {
                                    font-family: $audiX;
                                }
                            }
                        }
                        &__right {
                            width: 220px;
                            @include max-screen($screen-sm) {
                                width: 100%;
                            }
                            img {
                                width: 100%;
                            }
                        }
                        
                    }
                }
            }
            &__right {
                width: 40%;
                @include max-screen($screen-lm) {
                    width: 100%;
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    @include max-screen($screen-lm) {
                        flex-direction: row;
                    }
                    @include max-screen($screen-md) {
                        flex-wrap: wrap;
                        img {
                            height: 200px;
                        }
                    }
                    @include max-screen($screen-sm) {
                        img {
                            height: 150px;
                        }
                    }
                    
                }
                img {
                    width: 100%;
                    max-width: 100%;
                    object-fit: cover;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    @include max-screen($screen-lm) {
                        width: 33.333%;
                        height: 250px;
                    }
                    @include max-screen($screen-tb) {
                        height: 200px;
                    }
                    &.oneCl {
                        @include max-screen($screen-md) {
                            width: 100%;
                        }
                    }
                    &.twoCl {
                        @include max-screen($screen-md) {
                            width: 50%;
                        }
                    }
                    
                    &.bn1 {
                        background-image: url(../img/top/pic_benefits_01.jpg);
                    }
                    &.bn2 {
                        background-image: url(../img/top/pic_benefits_02.jpg);
                    }
                    &.bn3 {
                        background-image: url(../img/top/pic_benefits_03.jpg);
                    }
                }
            }
        }
    }
}