@charset "utf-8";

//------------------------------------------------------------
//    【必須】サイト設定 - 変数
//------------------------------------------------------------

//■フォント

    $default-font:   '平成ゴシックW3',sans-serif;
    $audiB: 'AudiType Bold';
    $audiBx: 'AudiType Extended Bold';
    $audiX: 'AudiType Extended Normal';
    $audi: 'AudiType';


//■アニメーション

    $default-transition: true;
    $default-transition-duration: .5s;


//■マウスオーバー時のリンク画像の透過

    $default-img-hover: false;
    $default-img-hover-opacity: 0.8;


//------------------------------------------------------------
//    【カスタム】変数
//------------------------------------------------------------

//■サイト幅
    $width-site : 1100px;

//■ブレイクポイント
    $screen-bg : 1480px;
    $screen-xl : 1200px;
	$screen-lm : 1160px;
    $screen-lg : 1020px;
	$screen-tb : 840px;
	$screen-md : 720px;
    $screen-sm : 560px;
    $screen-xs : 480px;
    $screen-xss : 420px;

    $red : #BB0A30;
    $black : #000000;
    $grey : #B3B3B3;
    $white : #ffffff;

