@charset "utf-8";

@import "variable";
@import "basic/mixin";
@import "basic/selector";

@import "basic/reset";
@import "basic/default";

@import "components/font-awesome/font-awesome_modify";



/*==================================================================================================
	サイト基礎
==================================================================================================*/

body {
	color: $black;
	@include font-size(16);
  line-height: 1.8;
	letter-spacing: 0.1em;
	overflow-x: hidden;
	@include max-screen(768px){
		@include font-size(15);
	}
	@include max-screen(420px){
			@include font-size(14);
	}
	a{
		transition: 0.5s ;
		color: $black;
    text-decoration: none;
		&:hover{
			text-decoration: none;
			opacity: 0.8;
		}
	}
	.inner{
    width: 100%;
		max-width: $width-site;
		margin: 0 auto;
		@include inner();
		@include min-screen(1201px) {
			max-width: 1300px;
		}
		@include max-screen(1340px) {
				width:100%;
        margin:0 auto;
        padding-left:5vw;
        padding-right:5vw
		}
	}
}


/*==================================================================================================
	共通仕様
==================================================================================================*/

.-bgRed { background-color: $red; }
.-bgBlack { background-color: $black; }
.-pdSection {
	padding: 9rem 0;
	@include max-screen($screen-tb) {
		padding: 5rem 0;
	}
	@include max-screen($screen-sm) {
			padding: 4rem 0;
	}
}
.-pdSSection {
	padding: 7rem 0;
	@include max-screen($screen-tb) {
		padding: 5rem 0;
	}
	@include max-screen($screen-sm) {
			padding: 4rem 0;
	}
}
.tbText {
	@include min-screen($screen-tb) {
		display: none;
	}
}
.mdText {
	@include min-screen(721px) {
		display: none;
	}
}
.showPc {
	@include max-screen($screen-tb) {
		display: none;
	}
}

.showMd {
	@include max-screen($screen-md) {
		display: none;
	}
}
/*==================================================================================================
	フッター
==================================================================================================*/
.footerTop {
	color: $white;
	&.pdFooter {
		padding: 8rem 0 3rem;
		@include max-screen($screen-tb) {
			padding: 5rem 0 2rem;
		}
		@include max-screen($screen-sm) {
				padding: 4rem 0 1.5rem;
		}
	}
	.footerBox {
		&__top {
			padding-bottom: 6rem;
			border-bottom: 1px solid $white;
			margin-bottom: 4rem;
			@include max-screen($screen-xl) {
				padding-bottom: 4rem;
			}
			.content {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				&__left {
					width: 50%;
					@include max-screen($screen-lg) {
						width: 100%;
					}
					.content {
						max-width: 450px;
						display: flex;
						flex-wrap: wrap;
						@include max-screen($screen-lg) {
							text-align: center;
							max-width: 100%;
							padding-bottom: 3rem;
						}
						.subTitle {
							@include font-size(24);
							padding-bottom: 1.5rem;
							@include max-screen($screen-lg) {
								@include font-size(22);
								width: 100%;
								max-width: 100%;
							}
							@include max-screen($screen-sm) {
									@include font-size(14);
							}

							.sub {
								@include font-size(18);
								@include max-screen($screen-tb) {
									@include font-size(16);
								}
								@include max-screen($screen-sm) {
										@include font-size(14);
								}
							}
							span {
								font-family: $audiX;
							}
						}
						h2 {
							@include font-size(80);
							font-weight: normal;
							line-height: 37px;
							padding-bottom: 1.5rem;
							width: 100%;
							@include max-screen($screen-xl) {
								@include font-size(60);
							}
							@include max-screen($screen-sm) {
									@include font-size(40);
									line-height: 27px;
									padding-bottom: 1rem;
							}
							span {
								font-family: $audiX;
							}
						}
						h3 {
							@include font-size(28);
							padding-bottom: 3rem;
							@include max-screen($screen-lg) {
								@include font-size(24);
								width: 100%;
							}
							@include max-screen($screen-sm) {
									@include font-size(16);
							}
							@include max-screen($screen-xss) {
								font-size: 1.6rem;
								padding-bottom: 1.5rem;
							}
						}
						p {
							@include font-size(18);
							@include max-screen($screen-tb) {
								text-align: center;
								@include font-size(17);
							}
							@include min-screen($screen-sm) {
								br {
									display: none;
								}
							}
							@include max-screen($screen-sm) {
								text-align: center;
								@include font-size(13);
							}
							a {
								color: $white;
							}
						}
					}
				}
				&__right {
					width: 50%;
					text-align: center;
					@include max-screen($screen-lg) {
						width: 100%;
					}
				}
			}
		}
		&__bottom {
			p {
				@include font-size(12);
				padding-bottom: 7.5rem;
				@include max-screen($screen-tb) {
					padding-bottom: 4.5rem;
				}
				@include max-screen($screen-sm) {
					padding-bottom: 3.5rem;
					@include font-size(10);
				}
			}
			.presentedBox {
				text-align: center;
				p {
					font-family: $audi;
					padding-bottom: 0;
				}
			}
		}
	}
}
