@font-face {
	font-family: 'AudiType Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../webfonts/AudiType/AudiTypeV02-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'AudiType Extended Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../webfonts/AudiType/AudiTypeV02-ExtendedBold.otf') format('opentype');
}
@font-face {
	font-family: 'AudiType Extended Normal';
	font-style: normal;
	font-weight: normal;
	src: url('../webfonts/AudiType/AudiTypeV02-ExtendedNormal.otf') format('opentype');
}
@font-face {
	font-family: 'AudiType';
	font-style: normal;
	font-weight: normal;
	src: url('../webfonts/AudiType/AudiTypeV02-Normal.otf') format('opentype');
}
@font-face {
	font-family: 'AudiType Italic';
	font-style: normal;
	font-weight: normal;
	src: url('../webfonts/AudiType/AudiTypeV02-Italic.otf') format('opentype');
}