@charset "utf-8";

//===========================================================
//    リンク下線
//===========================================================

@mixin underline($underline,$hover) {
    text-decoration: if($underline,underline,none);

    &:hover {
        @if $hover {
            text-decoration: if($underline,none,underline);
        }
    }
}


//===========================================================
//    文字サイズ
//===========================================================

@mixin font-size($fontsize) {
    font-size: ($fontsize / 10) + rem;
}


//===========================================================
//    余白付きwidth
//===========================================================

@mixin margin-width($width,$margin) {
    max-width: $width;
    margin-right: auto;
    margin-left: auto;

    @include max-screen($width + ($margin * 2)) {
        margin-right: $margin;
        margin-left: $margin;
    }
}


//===========================================================
//    グリッド
//===========================================================

@mixin grid($grids-width,$grid-width,$columns) {
    $grid-margin-number : $columns - 1;
    $grid-margin: ($grids-width - ($grid-width * $columns)) / $grid-margin-number;

    float: left;
    width: percentage($grid-width/$grids-width);
    margin-top: percentage($grid-margin/$grids-width);
    margin-left: percentage($grid-margin/$grids-width);

    &:nth-child(#{$columns}n+1) {
        margin-left: 0;
        clear: both;
    }
    &:nth-child(-n+#{$columns}) {
        margin-top: 0;
    }
}


//===========================================================
//    position
//===========================================================

@mixin pos-r($from1:null, $pos1:null, $from2:null, $pos2:null, $from3:null, $pos3:null, $from4:null, $pos4:null){
    position: relative;
    #{$from1}: $pos1;
    #{$from2}: $pos2;
    #{$from3}: $pos3;
    #{$from4}: $pos4;
}

@mixin pos-a($from1:null, $pos1:null, $from2:null, $pos2:null, $from3:null, $pos3:null, $from4:null, $pos4:null){
    position: absolute;
    #{$from1}: $pos1;
    #{$from2}: $pos2;
    #{$from3}: $pos3;
    #{$from4}: $pos4;
}

@mixin pos-f($from1:null, $pos1:null, $from2:null, $pos2:null, $from3:null, $pos3:null, $from4:null, $pos4:null){
    position: fixed;
    #{$from1}: $pos1;
    #{$from2}: $pos2;
    #{$from3}: $pos3;
    #{$from4}: $pos4;
}


//===========================================================
//    メディアクエリ
//===========================================================
@mixin max-screen($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin min-screen($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin screen($min-width,$max-width) {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
        @content;
    }
}


//===========================================================
//    clearfix
//===========================================================

@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}



//===========================================================
//    左右中央
//===========================================================

@mixin margin-auto {
    margin-left: auto;
    margin-right: auto;
}



//===========================================================
//    余白付きボックス
//===========================================================


@mixin whitespace {
    @media screen and (max-width: 840px){
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (max-width: 640px){
        padding-left: 15px;
        padding-right: 15px;
    }
    @media screen and (max-width: 560px){
        padding-left: 0px;
        padding-right: 0px;
    }
    @media screen and (max-width: 480px){
        padding-left: 0px;
        padding-right: 0px;
    }
}


@mixin inner {
	@media screen and (max-width: 1200px){
		width:100%;
        margin:0 auto;
        padding-left:5vw;
        padding-right:5vw
	}
}


//===========================================================
//    斜めストライプ
//===========================================================
@mixin stripe{
-webkit-background-size: 3px 3px;
-moz-background-size: 3px 3px;
background-size: 3px 3px;
background-color: #FFF;
background-image: -webkit-gradient(linear, 0 100%, 100% 0,
            color-stop(.25, #e2e1d7), color-stop(.25, transparent),
            color-stop(.5, transparent), color-stop(.5, #e2e1d7),
            color-stop(.75, #e2e1d7), color-stop(.75, transparent),
            to(transparent));
background-image: -webkit-linear-gradient(45deg, #e2e1d7 25%, transparent 25%,
          transparent 50%, #e2e1d7 50%, #e2e1d7 75%,
          transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, #e2e1d7 25%, transparent 25%,
          transparent 50%, #e2e1d7 50%, #e2e1d7 75%,
          transparent 75%, transparent);
background-image: -ms-linear-gradient(45deg, #e2e1d7 25%, transparent 25%,
          transparent 50%, #e2e1d7 50%, #e2e1d7 75%,
          transparent 75%, transparent);
background-image: -o-linear-gradient(45deg, #e2e1d7 25%, transparent 25%,
          transparent 50%, #e2e1d7 50%, #e2e1d7 75%,
          transparent 75%, transparent);
background-image: linear-gradient(45deg, #e2e1d7 25%, transparent 25%,
          transparent 50%, #e2e1d7 50%, #e2e1d7 75%,
          transparent 75%, transparent);
}